.App {
  min-height: 100vh;
  background: url("//cdn.ozx.me/sdv/background.png");
  background-position: center;
}

.MediaPlayer {
  position: absolute;
  
  height: 10%;
  width: 50%;

  top: calc(50vh - 20%);
  left: calc(50vw - 25%);
}

.SettingsBttn {
  position: absolute;
  top: 10px;
  left: 10px;
}

.ImageButton {
  border: none;
  background: none;
  cursor: pointer;
}