@font-face {
  font-family: 'Stardew Valley Regular';
  font-weight: normal;
  src: url('https://cdn.ozx.me/fonts/Stardew_Valley.otf') format("opentype");
}

body {
  margin: 0;
  font-family: 'Stardew Valley Regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

