$mediaDisplayW: 25%;

.MediaDisplay {
  border: 9px solid transparent;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-image: url("//cdn.ozx.me/sdv/menu_border.png") 15 stretch;

  width: $mediaDisplayW;
}

.MediaDisplayInner {
  background-color: #f5f5f5;
}